/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.is-style-absolute-position .bl_positionAbsolute {
	max-width: 100%;
	position: absolute;
}

.bl_positionAbsolute img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.is-layout-constrained {
	.wp-block-create-block-image-absolute {
		&.bl_positionAbsolute {
			margin: 0 !important;
		}
	}
}

@media screen and (max-width: 781px) {
	.is-style-absolute-position .bl_positionAbsolute {
		position: static;
	}
}
