/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #ccc;
}

.block-container img {
	width: 100%;
	max-width: 160px;
	margin: 10px;
	aspect-ratio: 1/1;
}

.bl_crossFadeAnim {
	max-width: 100% !important;
}

.bl_crossFadeAnim,
.wp-block-create-block-crossfade-anim {
	&_inner {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: 0;
			opacity: 0;
			transform: scale(1.1);
			transition:
				all 3.5s cubic-bezier(0.455, 0.833, 0.515, 0.955),
				transform 3.5s cubic-bezier(0.455, 0.833, 0.515, 0.955);
			&.is-visible {
				z-index: 1;
				opacity: 1;
				transform: scale(1.02);
				height: 100%;
			}
		}
	}
}
